.mask {
  width: 100%;
  height: 100vh;
  position: relative;
  animation: drop 3s;
}
@keyframes drop {
  0% {
    top: -1000px;
  }
  100% {
    top: 0;
  }
}
@keyframes jump {
  0% {
    top: -500%;
  }
  100% {
    top: 50%;
  }
}

.content {
  animation: jump 3s;
}
.about-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.mask::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.65;
}

.about {
  height: 100%;
  width: 100%;
}

.about .content {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
}

.about .content h1 {
  font-size: 4rem;
  padding: 0.6rem 0 1.5rem;
}

.about .content p {
  font-size: 1.4rem;
  font-weight: 200;
  padding-bottom: 60px;
}

.content .btn {
  margin: 1rem 0.2rem;
}

.arrow-dom {
  position: relative;
}
.arrow {
  cursor: pointer;
}

mark {
  background: transparent;
  font-weight: 700;
  font-style: normal;
  color: white;
}

@media screen and (max-width: 640px) {
  .about .content h1 {
    font-size: 3rem;
  }

  .about .content p {
    font-size: 1.4rem;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .content .btn {
    font-size: 0.75rem;
  }
}
