.ap-base-content {
  min-height: 100vh;
  background: maroon;
  padding-top: 75px;
  padding-bottom: 75px;
}

.ap-content {
  margin: auto;
  border-radius: 25px;
  padding-top: 4rem;
  height: 100%;
  width: 90%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.ap-image-side {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 50vw;
  max-height: 100%;
  margin: auto;
}
.ap-img {
  height: 200px;
  width: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.ap-text-side {
  align-items: center;
  justify-content: center;
  color: white;
}
.ap-text-header h1 {
  font-weight: 200;
  font-size: 1.5rem;
  color: darkgrey;
  padding-bottom: 20px;
  padding-top: 20px;
}
.ap-line {
  height: 1px;
  width: 1%;
  margin: 0 auto;
  background: black;
  opacity: 0.3;
}

.ap-text-paragraph {
  font-size: 1.75rem;
  margin: 0 5rem;
  padding-top: 20px;
}
.ap-text-paragraph p {
  font-weight: 200;
  color: maroon;
  text-align: center;
  padding-bottom: 20px;
}
.ap-text-paragraph h3 {
  font-weight: 300;
  font-size: 1.25rem;
  color: maroon;
}

@media screen and (max-width: 1040px) {
  .ap-text-paragraph {
    font-size: 1rem;
    margin: 0 1.5rem;
    padding-top: 20px;
  }
  .ap-text-paragraph p {
    font-size: 1.125rem;
    font-weight: 300;
    color: maroon;
    text-align: center;
    padding-bottom: 20px;
  }
  .ap-content {
    border-radius: 25px;
    padding-top: 1.5rem;
    margin: auto;
    height: 10%;
    width: 80%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .ap-text-header h1 {
    padding: 20px 10px;
  }
  .ap-text-paragraph h3 {
    font-size: 1rem;
  }
}
