.work-experience {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}
@keyframes drop {
  0% {
    top: -1000px;
  }
  100% {
    top: 0;
  }
}
.experience1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("../assets/lenses.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  /* background: lightslategray; */
  width: 50%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.experience2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("../assets/optics.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: maroon; */
  width: 50%;
  height: 100vh;
}
.content h1 {
  font-weight: 100;
  font-size: 1.75rem;
}
.content h3 {
  font-weight: 300;
  padding: 15px;
  font-size: 1.25rem;
}

@keyframes drop {
  0% {
    top: -1000px;
  }
  100% {
    top: 0;
  }
}
@media screen and (max-width: 1040px) {
  .work-experience {
    flex-direction: column;
  }
  .experience1 {
    width: 100%;
    height: 50vh;
  }
  .experience2 {
    width: 100%;
    height: 50vh;
  }
  .content h1 {
    font-weight: 100;
    font-size: 1.25rem;
  }
  .content h3 {
    font-weight: 300;
    padding: 5px;
  }
}
